
{% extends "blog/base.html"%}
{% load static %}
{% block content%}  

<nav id="topNav" class="navbar navbar-expand-md navbar-light">
          <div class="container">
            <div class="collapse navbar-collapse text-center" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-brand" href="{% static 'blog/oskar_resume.pdf' %}">Resume</a>
                </li>
                <span class="navbar-toggler-icon"></span>
                <li class="nav-item">
                  <a class="nav-brand" href="https://www.linkedin.com/in/tencentcloudoskar/" target="_blank">LinkedIn</a>
                </li>
              </ul>
            </div>
          </div>
</nav>

<div class="row justify-content-center my-3">
          <div class="col-5">
            <img src="{% static 'blog/Oskar_photo.jpeg' %}" class="img-fluid">
          </div>
        </div>
        
        <div class="row justify-content-center mb-3">
          <div class="col-md-9 text-center">
            <h2 id="hometext" class="font-weight-bold"> Welcome to Oskar's Self-Made Blog 😊</h2>
          </div>
        </div>
        
        <h2 class="mt-5">Portfolio</h2>
        <hr>
        <div class="row">
          {% for project in projects %}
          <div class="col-lg-4 col-md-6">
        
            {% if project.url %}
            <a href="{{ project.url }}">
              <img src="{{ project.image.url }}" class="img-fluid mb-2">
            </a>
            {% else %}
        
            <img src="{{ project.image.url }}" class="img-fluid mb-2">
            {% endif %}
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
        
          </div>
          {% endfor %}
        </div>

 {% endblock content%}










